<div class="google_icons">
    <span class="material-icons" title="thumb_up_off_alt">thumb_up_off_alt</span>
    <span class="material-icons" title="thumb_up_alt">thumb_up_alt</span>
    <span class="material-icons" title="thumb_up">thumb_up</span>
    <span class="material-icons" title="thumb_up_off">thumb_up</span>
    <span class="material-icons" title="search">search</span>
    <span class="material-icons" title="login">login</span>
    <span class="material-icons" title="output">output</span>
    <span class="material-icons" title="display_settings">display_settings</span>
    <span class="material-icons" title="rocket">rocket</span>
    <span class="material-icons" title="rocket_launch">rocket_launch</span>
    <span class="material-icons" title="hotel_class">hotel_class</span>
    <span class="material-icons" title="turned_in_not">turned_in_not</span>
    <span class="material-icons" title="turned_in">turned_in</span>
    <span class="material-icons" title="bookmark_add">bookmark_add</span>
    <span class="material-icons" title="speaker_notes">speaker_notes</span>
    <span class="material-icons" title="settings_accessibility">settings_accessibility</span>
    <span class="material-icons" title="accessibility">accessibility</span>
    <span class="material-icons" title="copyright">copyright</span>
    <span class="material-icons" title="subject">subject</span>
    <span class="material-icons" title="stars">stars</span>
    <span class="material-icons" title="room">room</span>
    <span class="material-icons" title="pin_drop">pin_drop</span>
    <span class="material-icons" title="person_pin_circle">person_pin_circle</span>
    <span class="material-icons" title="not_listed_location">not_listed_location</span>
    <span class="material-icons" title="add_location">add_location</span>
    <span class="material-icons" title="where_to_vote">where_to_vote</span>
    <span class="material-icons" title="schedule">schedule</span>
    <span class="material-icons" title="history">history</span>
    <span class="material-icons" title="history_toggle_off">history_toggle_off</span>
    <span class="material-icons" title="alarm">alarm</span>
    <span class="material-icons" title="visibility">visibility</span>
    <span class="material-icons" title="help_outline">help_outline</span>
    <span class="material-icons" title="pending_actions">pending_actions</span>
    <span class="material-icons" title="bug_report">bug_report</span>
    <span class="material-icons" title="build_circle">build_circle</span>
    <span class="material-icons" title="gavel">gavel</span>
    <span class="material-icons" title="data_thresholding">data_thresholding</span>
    <span class="material-icons" title="insights">insights</span>
    <span class="material-icons" title="factory">factory</span>
    <span class="material-icons" title="engineering">engineering</span>
    <span class="material-icons" title="construction">construction</span>
    <span class="material-icons" title="browse_gallery">browse_gallery</span>
    <span class="material-icons" title="rebase_edit">rebase_edit</span>
    <span class="material-icons" title="face">face</span>
    <span class="material-icons" title="person">person</span>
    <span class="material-icons" title="perm_identity">perm_identity</span>
    <span class="material-icons" title="person_outline">person_outline</span>
    <span class="material-icons" title="school">school</span>
    <span class="material-icons" title="psychology">psychology</span>
    <span class="material-icons" title="man">man</span>
    <span class="material-icons" title="woman">woman</span>
    <span class="material-icons" title="boy">boy</span>
    <span class="material-icons" title="girl">girl</span>
    <span class="material-icons" title="diversity_3">diversity_3</span>
    <span class="material-icons" title="portrait">portrait</span>
    <span class="material-icons" title="directions_run">directions_run</span>
    <span class="material-icons" title="face_retouching_natural">face_retouching_natural</span>
    <span class="material-icons" title="connect_without_contact">connect_without_contact</span>
    <span class="material-icons" title="auto_awesome">auto_awesome</span>
    <span class="material-icons" title="auto_fix_high">auto_fix_high</span>
    <span class="material-icons" title="insights">insights</span>
    <span class="material-icons" title="handyman">handyman</span>
    <span class="material-icons" title="monetization_on">monetization_on</span>
    <span class="material-icons" title="currency_exchange">currency_exchange</span>
</div>