{% extends 'pl/base.html' %}

{% block filter %}
    <form action="index" method="post">
        {% csrf_token %}
        <button type="submit">Select</button>
        <div class="form-error">{{ form.non_field_errors }}</div>

        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</p><p> </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <button type="submit">Select</button>
    </form>

{% endblock %}

{% block content %}
    <p> <b> Found {{quantity}} records </b></p>
    {% for r in table %}
        <div class="proj_info">
        <p>{{ r.name }}</p>
        <p>{{ r.user_location }}</p>
        <p>{{ r.startup_stage }}</p>
        <p>{{ r.web_site }}</p>
        <p>{{ r.industry }}</p>
        <p>{{ r.why_are_you_good }}</p>
        <p>{{ r.description }}</p>
        <p>{{ r.your_skills }}</p>
        <p>{{ r.skills_you_are_looking }}</p>
        <p>{{ r.availability }}</p>
        </div>

    {% endfor %}
{% endblock %}

